.DS_Store
qbittensor/validator/config/difficulty_peaked.json
qbittensor/validator/config/difficulty_hstab.json
.venv/

qbittensor/__pycache__/
qbittensor/base/__pycache__/
qbittensor/miner/__pycache__/
qbittensor/common/__pycache__/
qbittensor/miner/hstab_circuits/solved_circuits/
qbittensor/miner/simulator/__pycache__/
qbittensor/miner/services/__pycache__/
qbittensor/miner/solvers/__pycache__/
qbittensor/utils/__pycache__/
Quantum.egg-info/requires.txt
Quantum.egg-info/PKG-INFO
qbittensor/miner/task_processors/__pycache__/
tests/__pycache__/
Quantum.egg-info/SOURCES.txt
Quantum.egg-info/top_level.txt
Quantum.egg-info/dependency_links.txt
